/*===============================
=            Globals            =
===============================*/
html {
  height: 100%; }

body * {
  color: #34495e; }

p {
  margin-bottom: 0px; }

.avatar-circle, .avatar-sm-circle, .avatar-md-circle, .avatar-rounded, .avatar-md-rounded, .avatar-sm-rounded {
  vertical-align: middle;
  text-align: center;
  color: white !important;
  border-radius: 100px;
  line-height: 36px;
  display: inline-block;
  margin-right: 5px; }

.sm-circle, .avatar-sm-circle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  display: inline-block;
  margin-right: 5px; }

.md-circle, .avatar-md-circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block; }

.avatar-rounded, .avatar-md-rounded, .avatar-sm-rounded {
  border-radius: 4px; }

.md-rounded, .avatar-md-rounded {
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-right: 10px; }

.sm-rounded, .avatar-sm-rounded {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 5px; }

.btn + .btn {
  margin-right: 10px !important; }

.btn.btn-success .fa, .btn.btn-danger .fa {
  color: white;
  margin-right: 5px; }

.white-box {
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 600px) {
  .white-box {
    margin-top: 0;
    background: white; } }

.btn, .dropdown-item {
  cursor: pointer !important; }
  .btn .fa, .dropdown-item .fa {
    margin-right: 5px !important; }

/*=====  End of Globals  ======*/
/*===========================================
=            Override for Navbar            =
===========================================*/
.navbar {
  background: white;
  height: 50px;
  color: #34495e;
  padding: 4px 10px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08); }

.navbar-brand {
  font-family: "Titillium Web";
  font-weight: bold;
  color: #34495e !important; }
  .navbar-brand:hover {
    color: #587ca0 !important; }

.navbar-collapse {
  background: white; }

.navbar-nav {
  margin-top: 3px; }

.nav-link .fa {
  margin-right: 5px; }

.brand-logo {
  display: inline;
  width: 70px;
  color: #2980b9; }

@media screen and (max-width: 600px) {
  .brand-logo {
    width: 70px; } }

@media screen and (max-width: 768px) {
  .navbar {
    padding: 4px 0;
    text-align: center; }
    .navbar .container {
      width: 100%; }
    .navbar .navbar-brand {
      margin-left: 20px; }
    .navbar .navbar-collapse {
      padding-left: 20px;
      border-bottom: 1px solid red;
      margin-top: 8px; } }

/*=====  End of Override for Navbar  ======*/
/*========================================================
=            Override for Bootstrap Nav Pills            =
========================================================*/
.nav-pills .nav-link {
  border-radius: 10rem;
  border: 1px solid #34495e;
  color: #34495e;
  height: 38px;
  padding: 6px 18px; }

.nav-pills .nav-link.active {
  background: #34495e;
  color: white; }

.nav-pills .nav-item + .nav-item {
  margin-left: 10px; }

/*=====  End of Override for Bootstrap Nav Pills  ======*/
/*===================================================
=            Override for Bootstrap Card            =
===================================================*/
.card-block {
  padding: 1em !important;
  position: relative; }
  .card-block .actions {
    position: absolute;
    top: 1em;
    right: 4em;
    display: none; }
    .card-block .actions a {
      margin-right: 10px;
      color: #666; }
    .card-block .actions a:hover {
      color: #e74c3c; }

.card:hover .card-block .actions, .card-block:hover .actions {
  display: inline-block;
  animation: fadein 0.5s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.card-img-top {
  height: auto;
  width: 100%;
  border-bottom: 1px solid #dedede; }

.card-footer a {
  font-size: 12px; }

.card-footer a + a {
  margin-left: 10px; }

/*=====  End of Override for Bootstrap Card  ======*/
/*============================================
=            Override for Select2            =
============================================*/
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  color: white !important;
  background: #95a5a6 !important;
  padding: 1px 8px !important; }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    color: #eee !important;
    margin-right: 5px !important; }

.select2-container--bootstrap .select2-results__option[aria-selected=true] {
  background: #cfd9db; }
  .select2-container--bootstrap .select2-results__option[aria-selected=true]:hover {
    background: #3498db; }

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
  background: #3498db; }

/*=====  End of Override for Select2  ======*/
/*============================================
=            Override for Masonry            =
============================================*/
.card-masonry.two-columns .card {
  margin-top: 15px; }

@media screen and (min-width: 900px) {
  .card-masonry.two-columns .card {
    width: calc(50% - 10px); } }

@media screen and (max-width: 900px) {
  .card-masonry.two-columns .card {
    width: 100%; } }

.card-masonry.four-columns .card {
  margin-top: 15px; }

@media screen and (min-width: 992px) {
  .card-masonry.four-columns .card {
    width: calc((100% - 15px * 3) / 4); } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .card-masonry.four-columns .card {
    width: calc((100% - 15px * 2) / 3); } }

@media screen and (min-width: 544px) and (max-width: 768px) {
  .card-masonry.four-columns .card {
    width: calc((100% - 15px) / 2); } }

@media screen and (max-width: 544px) {
  .card-masonry.four-columns .card {
    width: 100%; } }

/*=====  End of Override for Masonry  ======*/
/*=================================================
=            Override for FullCalendar            =
=================================================*/
.fc-day-grid-event {
  border: none; }

.fc-center h2 {
  font-size: 20px;
  padding-top: 10px; }

.fc-day-grid-event .fc-content {
  background: #e7e7f7;
  padding: 2px 4px;
  white-space: normal !important; }
  .fc-day-grid-event .fc-content:hover {
    background: #c1c1ea;
    cursor: pointer; }

.fc-toolbar button {
  background: white; }
  .fc-toolbar button:hover {
    background: #e7e7e7; }

.fc-button.fc-state-active {
  background: #3498db;
  color: white; }

/*=====  End of Override for FullCalendar  ======*/
/*=================================
=            Override for Trumbowyg            =
=================================*/
.trumbowyg-box .trumbowyg-editor {
  background: white !important; }

/*=====  End of Override for Trumbowyg  ======*/
/*===============================
=            Comment            =
===============================*/
.arrow-left {
  position: relative; }
  .arrow-left:before {
    position: absolute;
    border: 7px solid;
    border-color: transparent white transparent transparent;
    width: 0;
    height: 0;
    content: ' ';
    top: 15px;
    left: -13px;
    z-index: 9; }
  .arrow-left:after {
    position: absolute;
    border: 8px solid;
    border-color: transparent rgba(0, 0, 0, 0.125) transparent transparent;
    width: 0;
    height: 0;
    content: ' ';
    top: 14px;
    left: -15px;
    z-index: 8; }

/*=====  End of Comment  ======*/
