$sidbarblue: #1d212a;
// navbar
$navbar-default-bg: white;
$navbar-default-link-color: #1d212a !default;
$navbar-default-border: none;
$navbar-default-link-hover-bg: #f6f8f8;

// nav-pills
$brand-primary: lighten(#1abb9c, 2%);

// panel
$panel-default-heading-bg: white;
$panel-default-text: #575757;

// breadcrumb
$breadcrumb-bg: #f6f8f8;

$font: #575757;
$font-dark: #787c87;
$font-gray: #b3b8c3;
$bg-dark: #1d212a;
$outstand: lighten(#1bc4a3, 10%);

html,body{
  height:100%;
}

// navbar
.navbar{
  padding:2px 10px;
  border-bottom:1px solid #eee;
}
.navbar-header{
  // width:200px;
}

.navbar-nav{
  margin-left:15px;
}
.navbar-brand {
  font-family: "Titillium Web";
  font-weight: bold;
  color: #666 !important;
  text-shadow: 2px 2px 2px white;
  padding: 2px 10px;
}
.nav-link{
  .fa{
    margin-right: 5px;
  }
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  .name{
    margin-top: 10px;
  }
  .name, .username{
    color: #c7c7c7;
  }

  .role{
    color:#666;
    margin-top: 20px;
  }
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
  background: $sidbarblue;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

#sidebar-wrapper {
  z-index: 10;
  position: fixed;
  left: 200px;
  width: 0;
  height: 100%;
  margin-left: -200px;
  overflow-y: auto;
  background: $sidbarblue;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  .dropdown-menu{
    z-index:999;
  }
  .sidebar{
    .title{
      width:100%;
      margin-top: 20px;
      padding:3px 20px;
      color:#a3c893;
      letter-spacing: 1px;
      font-size:11px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }
    .fa{
      margin-right:10px;
    }
    .name{
      font-weight: bold;
      color:#f5f5f5;
      font-size:16px;
    }
    .rank{
      color:#aaa;
      margin-bottom: 40px;
    }
    .section-list{
      padding-left:20px;
      padding-right:20px;
      margin-top: 5px;
      border:none !important;
      list-style: none;
      li{
        a{
          background: $bg-dark;
          display:block;
          color:$font-gray;
          padding:10px 15px;
        }
        a:hover{
          text-decoration: none;
          background:#eee;
          color:#333;
          border-radius:4px;
          cursor: pointer;
        }
        a.active{
          background:$brand-primary;
          border-radius:4px;
          color:lighten($font-gray, 30%);
        }
      }
    }
  }
}

#wrapper.toggled #sidebar-wrapper {
  width: 200px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 10px 15px;
  background: #f5f5f5;
  min-height: calc(100% - 50px) ;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -200px;
}



@media(min-width:768px) {
  #wrapper {
    padding-left: 200px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 200px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
        // padding: 20px;
        position: relative;
      }

      #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
    }

/*============================
=            Item            =
============================*/
.item{
  padding:15px;
}

.item, .panel{
  .item-heading{
    box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
    padding:10px 15px;
    border:1px solid #dedede;
    border-bottom:none;
    background:white;
    border-radius:4px 4px 0 0;

    font-weight: bold;
    color: #767676;
    &>span{
      line-height: 1.2em;
      vertical-align: middle;
    }
    .label{
      margin-left:10px;
    }
    .title{
      font-size:18px;
      font-weight: bold;
    }
    .subtitle{
      font-size:14px;
      font-weight:normal;
      margin-left:20px;
    }
  .actions{
      display:none;
      a{
        color: #767676;
        &:hover{
          color:$brand-primary;
        }
      }
      a+a{
        margin-left:10px;
      }
    }
  }
  .item-body{
    box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
    border:1px solid #dedede;
    padding:15px;
    background:white;
    border-radius: 0 0 4px 4px;
    word-wrap: break-word;
    word-break: normal;
    *{
      color:#767676;
      word-wrap: break-word;
      word-break: normal;
    }

  }
}
/*=====  End of Item  ======*/

.brand-logo{
  display:inline;
  width:70px;
  color: #2980b9;
}

@media screen and (max-width: 600px) {
  .brand-logo {
    width: 70px;
  }
}

.white-box{
  background:white;
  border-radius:10px;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

@media screen and (max-width: 600px) {
  .white-box{
    margin-top:0;
    background:white;
  }
}
.modal-backdrop{
  z-index: 1 !important;
}

.btn{
  cursor: pointer !important;
  .fa{
    margin-right: 5px !important;
  }
}

.dropdown-item{
  .fa{
    margin-right: 5px !important;
  }
}
