- extends "layout/basic.jade"
- block body
  .row.justify-content-center(style='min-height:100%')
    .col-12.col-sm-10.col-md-8.col-xl-6.align-self-center
      .white-box.p-30
        .p-20.pl-40.pr-40.text-center
          h2 We Are So Sorry
          h2 But something went wrong
          p.mt-20=error
