- extends "layout/basic.jade"
- block head
  script(src="https://apis.google.com/js/platform.js")
  script(src="{{url_for('static', filename='js/login.js')}}")
  meta(name="google-signin-client_id",content="987580281764-u9kspreinnb210um17ikd2cqpsnpl1e8.apps.googleusercontent.com")
- block body
  style.
    .title{
      font-size:18px;
      color:#666;
      font-weight:bold;
      margin-top:20px;
      margin-bottom:10px;
    }
    a{
    margin:10px 0;
    display:inline-block;
    }
  .row.justify-content-center(style='min-height:100%')
    .col-12.col-sm-8.col-md-6.col-xl-5.align-self-center
      .white-box.p-30
        .p-20.pl-40.pr-40
          img.img-fluid(src="{{url_for('static', filename='image/logo.png')}}")

        if error
          div.text-center(style='color:#a94442')=error
        form.mt-20(action='{{ url_for("ui.login_action")}}', method='post')
          .form-group
            label Username
            input.form-control(type='text', name='username', autofocus=true)
          .form-group
            label Password
            input.form-control(type='password', name='password')
          .row.pt-20
            .col-md-12
              input.btn.btn-success.btn-block(type='submit', style='height:38px; background:#5bdae1;border:none;font-weight:bold;', value='Sign in') Login
            .col-md-12
              a.btn.btn-default.btn-block(href=url_for('ui.google_oauth'), style='height:38px; color:#666; border:1px solid #71c6ca; font-weight:bold; margin-bottom:0;')
                img.img-fluid.mr-5(width='20',src="{{url_for('static', filename='image/google-logo.png')}}", style='display:inline')
                | Sign in with Google
            .col-md-12
              a.btn.btn-default.btn-block(href=url_for('ui.facebook_oauth'), style='height:38px;color:white; font-weight:bold; background:#3b5998')
                i.fa.fa-facebook-official(style='color:white;font-size:18px; margin-right:10px !important;')
                | Sign in with Facebook
            .col-md-12
              .text-center.mt-10
                a(href='{{ url_for("ui.register")}}') Don't have an account? Register Now.
