- extends "layout/basic.jade"
- block body
  style.
    .title{
      font-size:18px;
      color:#666;
      font-weight:bold;
      margin-top:20px;
      margin-bottom:10px;
    }
    a{
    margin:10px 0;
    }
  .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4.white-box
    .col-md-10.col-md-offset-1.pt-20.pb-20
      .row
        .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2.mb-40.mt-20
          img.img-responsive(src="{{url_for('static', filename='image/logo.png')}}")
      .row
        .col-xs-10.col-xs-offset-1
          form(id='register-form', action="/ui/register_action", method='post', role="form", data-toggle="validator")
            .form-group
              label Username
              input.form-control(type='text', name='username', required="true")
              .help-block.with-errors
            .form-group
              label Password
              input.form-control#pwdInput(type='password', name='password', data-minlength="5", required="true")
              .help-block.with-errors
            .form-group
              label Confirm Password
              input.form-control#pwdConfirmInput(type='password', name='confirm_password', data-match="#pwdInput", data-minlength="5",required="true")
              .help-block.with-errors
            - if not data['email']
              .form-group
                label Email
                input.form-control(type='email', name='email')
            - else
              .form-group
                input.form-control(type='hidden', name='email', value="{{ data['email'] }}")
              .help-block.with-errors
            .row
              .col-md-6
                div.g-signin2(data-onsuccess="onSignIn")
              .col-md-12.pt-20
                input.btn.btn-success.btn-block(type='submit', style='height:38px; background:#5bdae1;border:none; font-weight:bold;',value="Register")
        .clearfix
