.logo-img.text-center.mt-30
  a(href="/")
    img.rounded-circle.animated.rollIn.mb-20(src=session['gravatar_url'], width='70')
.text-center.mb-10
  .name=session['first_name'] + ' ' + session['last_name']
  .username='@' + session['username']
  .role=session['role']
