nav.navbar.navbar-default.navbar-fixed-top
  .navbar-header.text-center
    a.navbar-brand(href="/")
      img.img-responsive.brand-logo(src="{{url_for('static', filename='image/logo_horizontal.png')}}", style='')

    button.navbar-toggle.collapsed(aria-controls="navbar",aria-expanded="false",data-target="#navbar",data-toggle="collapse",type="button")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

  #navbar.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a#menu-toggle(href='#')
          i.fa.fa-th-large

    ul.nav.navbar-nav.navbar-right
      li
        a(href='#')
          i.fa.fa-gear
      li
        a(href='/ui/logout')
          i.fa.fa-plug
