html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
    title My Weekly Status
    link(rel="shortcut icon", href="/favicon.ico")

    // jQuery
    script(src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}")

    // Sweet Alert
    script(src="{{ url_for('static', filename='lib/sweetalert/sweetalert.min.js') }}")
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/sweetalert/sweetalert.css') }}")

    // Tether
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/tether/tether.min.css') }}")

    // Bootstrap
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/bootstrap-4/bootstrap.min.css') }}")

    // Font Awesome
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}")

    // Animate
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/animate/animate-3.4.0.min.css') }}")


    // jQuery tagEditor
    script(src="{{ url_for('static', filename='lib/jquery-tagEditor/jquery.tag-editor.min.js') }}")
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/jquery-tagEditor/jquery.tag-editor.css') }}")

    // Eurus-CSS
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/eurus-css/eurus-1.0.0.min.css') }}")

    // App
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='css/app.min.css') }}")
    script(src="{{ url_for('static', filename='js/invite.js') }}")
    script(src="{{ url_for('static', filename='js/app.js') }}")

    - block head
    - endblock
  body(style='background:#f7f7f7')
    include shared/topbar
    .container
      main(style='margin-top:5.4em')
        - block body
        - endblock

    // modal for invite people
    #invite-modal.modal.fade(style='margin-top:100px;')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Invitation
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden='true')&times;
          .modal-body
            .form-group
              label.control-label Emails
              .note Enter emails as many as you want, use ENTER to separate ...
              input#email-input.form-control.tag-editor(autofocus=true)

          .modal-footer
            button.btn.btn-secondary(data-dismiss="modal") Maybe later
            button.btn.btn-success#invite-btn Invite Now

    // modal for changing project logo
    #change-logo-modal.modal.fade
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Change Project Logo
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden='true')&times;
          .modal-body
            form#change-logo-form(action='{{url_for("project.upload_logo")}}', method='post', enctype='multipart/form-data')
              input#project-id-input(type='hidden', name='project_id')
              .form-group
                label.control-label Logo
                input.form-control(type='file', name='logo', autofocus=true)

          .modal-footer
            button.btn.btn-secondary(data-dismiss="modal") Cancel
            button.btn.btn-success#change-logo-save-btn Save
    script(src="{{ url_for('static', filename='lib/tether/tether.min.js') }}")
    script(src="{{ url_for('static', filename='lib/bootstrap-4/bootstrap.min.js') }}")
