html
  mixin avatar(user, type)
    - if user.gravatar_url
      span(class='avatar-{{type}}')
        img(src=user.gravatar_url, style='width:100%; border-radius:100px;', data-toggle='tooltip', data-placement='bottom', title='{{user.full_name}} @{{user.username}}')
    - else
      span(class='avatar-{{type}}', data-bg-color=user.avatar_color, data-toggle='tooltip', data-placement='bottom', title='{{user.full_name}} @{{user.username}}')=user.initial

  mixin avatar_sm_circle(user)
    +avatar(user, 'sm-circle')

  mixin avatar_md_circle(user)
    +avatar(user, 'md-circle')
  
  mixin avatar_md_owner_circle(user)
    +avatar(user, 'md-owner-circle')

  mixin avatar_md_coordinator_circle(user)
    +avatar(user, 'md-coordinator-circle')
    
  mixin avatar_sm_rounded(user)
    +avatar(user, 'sm-rounded')

  mixin avatar_md_rounded(user)
    +avatar(user, 'md-rounded')

  head
    meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
    title My Weekly Status
    link(rel="shortcut icon", href="/favicon.ico")

    // jQuery
    script(src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}")

    // Sweet Alert
    script(src="{{ url_for('static', filename='lib/sweetalert/sweetalert.min.js') }}")
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/sweetalert/sweetalert.css') }}")

    // Masonry
    script(src="{{ url_for('static', filename='lib/masonry/masonry.pkgd.min.js') }}")

    // Tether
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/tether/tether.min.css') }}")

    // Bootstrap
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/bootstrap-4/bootstrap.min.css') }}")

    // Font Awesome
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}")

    // Animate
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/animate/animate-3.4.0.min.css') }}")

    // jQuery tagEditor
    script(src="{{ url_for('static', filename='lib/jquery-tagEditor/jquery.tag-editor.min.js') }}")
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/jquery-tagEditor/jquery.tag-editor.css') }}")

    // Eurus-CSS
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/eurus-css/eurus-1.0.0.min.css') }}")

    // Moment
    script(src="{{ url_for('static', filename='lib/moment/moment.min.js') }}")

    // Select 2
    script(src="{{ url_for('static', filename='lib/select2/select2.min.js') }}")
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/select2/select2.min.css') }}")
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/select2/select2-bootstrap.min.css') }}")


    // App
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='css/app.min.css') }}")
    script(src="{{ url_for('static', filename='js/invite.js') }}")
    - block head
    - endblock
    script(src="{{ url_for('static', filename='js/app.js') }}")


  body(style='background:#f7f7f7')
    include shared/topbar
    .container
      main(style='margin-top:5.4em')
        - block body
        - endblock

    // modal for invite people
    #invite-modal.modal.fade(style='margin-top:100px;')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Invitation
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden='true')&times;
          .modal-body
            .form-group
              label.control-label Emails
              .note You can enter multiple email addresses, just use ENTER to separate ...
              input#email-input.form-control.tag-editor(autofocus=true)

          .modal-footer
            button.btn.btn-secondary(data-dismiss="modal") Maybe later
            button.btn.btn-success#invite-btn Invite Now


    script(src="{{ url_for('static', filename='lib/tether/tether.min.js') }}")
    script(src="{{ url_for('static', filename='lib/bootstrap-4/bootstrap.min.js') }}")
