html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
    title
    script(src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}")
    script(src="{{ url_for('static', filename='js/app.js') }}")
    script(src="{{ url_for('static', filename='lib/masonry/masonry.pkgd.min.js') }}")
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/bootstrap/bootstrap.min.css') }}")
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}")
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/animate/animate-3.4.0.min.css') }}")
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/eurus-css/eurus-css.min.css') }}")
    link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='css/app.min.css') }}")
    - block head
    - endblock
  body
    #wrapper
      include shared/topbar
      #sidebar-wrapper
        include shared/sidebar
      #page-content-wrapper
        - block body
        - endblock
    script(src="{{ url_for('static', filename='lib/bootstrap/bootstrap.min.js') }}")
