- extends "layout/dashboard.jade"
- block body
  .row
    .col-md-12.mb-20
      h4.float-left Projects
      .float-right
        button.btn.btn-success
          i.fa.fa-plus
          | Create Project
  .row
    - for project in data
      .col-6.col-md-3
        .card.mb-3
          img.card-img-top(src="{{url_for('static', filename='image/project_logos/' + project.logo_file)}}", alt='Card image cap')
          .card-block
            h4.card-title
              =project.project_name
            p.card-text
              =project.project_lead.first_name + ' ' + project.project_lead.last_name
