- extends "layout/dashboard.jade"
- block head
  script(src="{{url_for('static', filename='js/project/index.js')}}")
- block body
  .row
    .col-md-12.mb-20
      h4.float-left Projects
      .float-right
        a.btn.btn-success(href='{{url_for("project.new")}}')
          i.fa.fa-plus
          | Create Project
  .row
    - for project in projects
      .col-6.col-md-4
        .card.mb-3
          img.card-img-top(src="{{url_for('static', filename='image/project_logos/' + project.logo_file)}}" )
          .card-block
            b.card-title
              =project.name
            .members.mt-2.mb-2
              for member in project.members
                - if member.username == project.lead.username
                  img.rounded-circle(width='40', src='{{ member.gravatar_url }}', style='border:2px solid green', alt='{{member.full_name}}', title='{{member.full_name}}')
                - else
                  img.rounded-circle(width='40', src='{{ member.gravatar_url }}',style='border:2px solid white', alt='{{member.full_name}}', title='{{member.full_name}}')
            p.card-text=project.intro
          // only project lead see this
          - if project.lead.username == session['username']
            .card-footer.text-center
              a(href='{{url_for("project.edit", id=project.id)}}') Edit
              a.change-logo-btn(href='#', data-project_id='{{project.id}}') Change Logo
              //- a(href='#') Remove
