- extends "layout/dashboard.jade"
- block head
  script(src="{{ url_for('static', filename='js/project/new.js') }}")

- block body
  .row
    .col-md-8.offset-md-2.mb-20
      - if action == 'edit'
        h4.float-left Editing Project
        button.btn.btn-success.float-right#save-btn Save Changes
        .clearfix
      - else
        h4.float-left Create Project
        .float-right
          button.btn.btn-success#save-btn Save
      .clearfix
      .mt-3
        form#project-form(action='{{ url_for("project.create")}}', method='post', enctype="multipart/form-data")
          -if action == 'edit'
            input(type='hidden', name='project_id', value='{{project.id}}')
          .row.mb-2
            .col-md-6
              label.form-control-label Name
              input.form-control(type='text', name='name', value='{{project.name}}')
            .col-md-6
              label.form-control-label Logo
              input.form-control(type='file', name='logo', accept=".png,.jpg,.jpeg")
          .form-group
            label.form-control-label Members
            input#members-input(type='hidden', name='members')
            select#members-select.select2-multi.form-control(multiple="multiple", style='width: 100%')
              for user in users
                - if user.selected
                  option(value="{{user.username}}", selected='selected') {{user.full_name}}
                - else
                  option(value="{{user.username}}") {{user.full_name}}

          .form-group
            label.control-label Intro
            textarea.form-control(name='intro')
              =project.intro
