- extends "layout/dashboard.jade"
- block head
  script(src="{{ url_for('static', filename='lib/trumbowyg/trumbowyg.min.js') }}")
  link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/trumbowyg/ui/trumbowyg.min.css') }}")
  script(src="{{ url_for('static', filename='js/report/digest.js') }}")
- block body
  form#digest-form(action='{{ url_for("report.download_digest")}}', method='post')
    input#digest-input(type='hidden', name='digest')
    input#week-input(type='hidden', name='week', value=data.week)

  .row
    .col-md-12.mb-20
      h4.float-left Edit Weekly Digest
      .float-right
        btn.btn.btn-success.float-right#save-btn Download Digest
    
    .form-group.col-md-12.mb-20
      #digest-textarea.form-control(rows='30')
        !=data.digest
